/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
	
body {
	background-color:#FDFDFD;
}

.logo {
	margin-left:auto;
	margin-right:auto;
	/*margin-top: 195px;*/
	margin-left: 200px;
	left:100%;
	top:50%;
}

h1 {
  font-size: 4em;
  font-weight: bold;
  color: #297CCF;
  margin: 40px 0px 70px;
  text-align: center;
}

h2 {
	color: #297CCF;
}

h3 {
	color: #297CCF;
	text-indent: 50px;
}

h4 {
	color: #297CCF;
}

p {
	text-indent: 20px;
	margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 150px;
    margin-left: 5px;
}
